mixin works(data)
	section.works(id="works")
		.works__in
			h2.works__title Наши работы
			p.works__text Компания «Бюро ремонта Владимира Скачкова» основана в 2008 году. Основным видом деятельности компании является малоэтажное строительство. Компания также успешно зарекомендовала себя в сфере реконструкции зданий, а также внутренней и наружной отделке.

			ul.slider.owl-carousel
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 1")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 2")
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 3")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 4")
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 5")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 6")
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 7")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 8")

				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 1")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 2")
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 3")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 4")
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 5")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 6")
				li.slider__item
					a.slider__link(href="assets/images/content/work-1.jpg")
						img.slider__image(src="assets/images/content/work-1.jpg", alt="работа 7")
				li.slider__item
					a.slider__link(href="assets/images/content/work-2.jpg")
						img.slider__image(src="assets/images/content/work-2.jpg", alt="работа 8")





			ul.thumbs.owl-carousel
				li.thumbs__item
					a.thumbs__link(href="#link-1")
						img.thumbs__image(src="assets/images/content/thumb-1.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-2")
						img.thumbs__image(src="assets/images/content/thumb-2.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-3")
						img.thumbs__image(src="assets/images/content/thumb-3.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-4")
						img.thumbs__image(src="assets/images/content/thumb-4.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-5")
						img.thumbs__image(src="assets/images/content/thumb-5.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-6")
						img.thumbs__image(src="assets/images/content/thumb-6.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-7")
						img.thumbs__image(src="assets/images/content/thumb-7.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-8")
						img.thumbs__image(src="assets/images/content/thumb-8.jpg", alt="")

				li.thumbs__item
					a.thumbs__link(href="#link-1")
						img.thumbs__image(src="assets/images/content/thumb-1.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-2")
						img.thumbs__image(src="assets/images/content/thumb-2.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-3")
						img.thumbs__image(src="assets/images/content/thumb-3.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-4")
						img.thumbs__image(src="assets/images/content/thumb-4.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-5")
						img.thumbs__image(src="assets/images/content/thumb-5.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-6")
						img.thumbs__image(src="assets/images/content/thumb-6.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-7")
						img.thumbs__image(src="assets/images/content/thumb-7.jpg", alt="")
				li.thumbs__item
					a.thumbs__link(href="#link-8")
						img.thumbs__image(src="assets/images/content/thumb-8.jpg", alt="")



			.works__nav.nav
				a.nav__link(href="#advantages") Преимущества
				a.nav__link(href="#video") Видео

		.video(id="video")
			.video__in
				h2.video__title Мы умеем работать!
				p.video__text Компания «Бюро ремонта Владимира Скачкова» основана в 2008 году. Основным видом деятельности компании является малоэтажное строительство. Компания также успешно зарекомендовала себя в сфере реконструкции зданий, а также внутренней и наружной отделке.
			.video__object-w
				a.video__trigger(href='#') Воспроизвести видео

				.video__object(data-youtube-id="VhYYqzX294s" data-autoplay="2" data-controls="0" data-autohide="0")

			.video__nav.nav
				a.nav__link(href="#works") Наши работы
				a.nav__link(href="#contacts") связаться с нами

