mixin advantages(data)
	section.advantages(id="advantages")
		.advantages__in
			h2.advantages__title наши преимущества
			ul.advantages__list
				li.advantages__item
					.advantages__item-number 1
					.advantages__image
						img(src="assets/images/content/adv-img-1.jpg", alt="")
					h3.advantages__item-title Внушительный опыт
					p.advantages__item-text Основа деятельности — работа с соблюдение технологий, последовательность в выполнении этапов, применение знаний и навыков, полученных, в результате многолетнего опыта.
				li.advantages__item
					.advantages__item-number 2
					.advantages__image
						img(src="assets/images/content/adv-img-2.jpg", alt="")
					h3.advantages__item-title Технологичный ремонт
					p.advantages__item-text Четкая и твердая позиция в понимании ремонта приводит к цели — создать и реализовать правильный, умный ремонт. В работе применяются современные тенденции в строительных технологиях.
				li.advantages__item
					.advantages__item-number 3
					.advantages__image
						img(src="assets/images/content/adv-img-3.jpg", alt="")
					h3.advantages__item-title Образцовое качество
					p.advantages__item-text Важно прислушаться к заказчику и в тоже время не идти на компромисс с качеством. Наша визитная карточка — это прочность и долговечность конструкций.
				li.advantages__item
					.advantages__item-number 4
					.advantages__image
						img(src="assets/images/content/adv-img-4.jpg", alt="")
					h3.advantages__item-title Работа по дизайн-проектам
					p.advantages__item-text Работа только с дизайн-проектами по документации, а также обязательное заключение договора, составление актов приема-передачи, а также сметы и т.д. Критерии хорошего ремнта: польза, долговечность, красота.
			.advantages__nav.nav
				a.nav__link.nav__link_first(href="#top") БР Владимира Скачкова
				a.nav__link.nav__link_second(href="#works") Наши работы
