.footer
	&__in
		@extends .in
		padding-top 49px
		padding-bottom 56px
		font-size 12px
		color #757370
		+below($mobile)
			padding-top 14px
			padding-bottom 10px
			text-align center
	&__copyright
		margin-bottom 10px
		+below($mobile)
			margin-bottom 12px
	&__created
		color #7e7e7e
		a
			border-bottom 1px solid #f0bc78
			color #f0bc78
			text-decoration none
			&:hover
				border-bottom 1px solid transparent


.font
	.footer__in
		font normal 12px/1 $metapro-normal
		+below($mobile)
			font-size 11px
			line-height 13px
	.footer__created
		a
			font bold 12px/13px $metapro-bld
