.header
	&__in
		@extends .in
		padding-bottom 20px
	&__top
		padding 28px 0 26px
		cf()

		+below($tablet)
			padding-top 10px
			padding-bottom 10px
	&__logo
		margin-right 252px
		float left
		+below($desktop)
			margin-right r-percent(200, 1366)
		+below(1120px)
			margin-right r-percent(100, 1366)
		+below($tablet)
			margin-right r-percent(100, 1366)
		+below($tablet-s)
			margin-bottom 10px
		+below($mobile)
			float none
	&__phone
		float left
	&__button
		margin-top 5px
		float right
		+below($tablet)
			width 100%
		+below($mobile)
			float none
.header
	.header__top
		+below($mobile)
			padding-top 18px


.logo
	width 330px
	height 50px
	text-decoration none
	color $textColor
	letter-spacing tracking(42)
	+below($mobile)
		margin-right 0px
		padding-right 0
		width auto
		display block

.font
	.logo
		font 400 24px/30px $intro
		+below($mobile)
			margin-right 10px
			font-size 18px
			line-height 26px
.phone
	+below($mobile)
		margin-bottom 2px
		float none
		cf()
	&__val
		margin-bottom 4px
		display block
		letter-spacing tracking(75)
		color inherit
		text-decoration none
		+below($mobile)
			margin-top 0
			float right
			font-size 19px
			letter-spacing tracking(0)
	// &__sep
	&__city
		font-size 16px
		line-height 24px
		letter-spacing tracking(50)
		+below($mobile)
			float left
			font-size 14px
			letter-spacing tracking(27)
.font
	.phone
		font 400 30px/1 $intro
	.phone__sep
		font 500 30px/1 $metapro-med
		+below($mobile)
			font-size 19px

.menu
	color $navColor
	+below($mobile)
		display none
	&__list
		font-size 0
	&__item
		margin-right 29px
		display inline-block
		vertical-align top
		&:last-child
			margin-right 0
		+below(536px)
			margin-bottom 5px
	&__link
		border-bottom 1px solid $navColor
		display inline-block
		vertical-align top
		font-size 16px
		line-height 1.2
		color inherit
		text-decoration none
		transition border-bottom .3s ease
		&:hover
			border-bottom 1px solid transparent

.font
	.menu
		font 500 16px/24px $metapro-med

