mixin about(data)
	section.about
		.about__in
			.about__left
				h2.about__title О нас
				.about__text
					p Компания «Бюро ремонта Владимира Скачкова» основана в 2008 году. Основным видом деятельности компании является малоэтажное строительство. Компания также успешно зарекомендовала себя в сфере реконструкции зданий, а также внутренней и наружной отделке.
					p В настоящее время компанией построено и введено в эксплуатацию здание автомойки с помещениями по обслуживанию легковых автомобилей «АкваДок» в г.Костроме.
				ul.about__features
					li.about__features-item.about__features-item_first
						.about__features-text Поэтапная оплата
					li.about__features-item.about__features-item_second
						.about__features-text Срок службы до 20 лет
					li.about__features-item.about__features-item_third
						.about__features-text Гарантия 3 года
			.about__right
				.about__image
					img(src="assets/images/content/about-img.jpg", alt="")
