@font-face {
	font-family: 'MetaPro-Med';
	src: local('MetaPro-Medium'),
		url('../fonts/metapro/hinted-subset-MetaPro-Medium.woff2') format('woff2'),
		url('../fonts/metapro/hinted-subset-MetaPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: local('Intro'),
		url('../fonts/intro/hinted-subset-Intro.woff2') format('woff2'),
		url('../fonts/intro/hinted-subset-Intro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MetaPro-bld';
	src: local('MetaPro-Bold'),
		url('../fonts/metapro/hinted-subset-MetaPro-Bold.woff2') format('woff2'),
		url('../fonts/metapro/hinted-subset-MetaPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MetaPro-Book';
	src: local('MetaPro-Book'),
		url('../fonts/metapro/hinted-subset-MetaPro-Book.woff2') format('woff2'),
		url('../fonts/metapro/hinted-subset-MetaPro-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MetaPro-Normal';
	src: local('MetaPro-Normal'),
		url('../fonts/metapro/hinted-subset-MetaPro-Normal.woff2') format('woff2'),
		url('../fonts/metapro/hinted-subset-MetaPro-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


// Var for using custom font

$metapro-normal = 'MetaPro-Normal', Helvetica, Arial, sans-serif
$metapro-med = 'MetaPro-Med', Helvetica, Arial, sans-serif
$metapro-bld = 'MetaPro-bld', Helvetica, Arial, sans-serif
$metapro-book = 'MetaPro-Book', Helvetica, Arial, sans-serif
$intro = 'Intro', Helvetica, Arial, sans-serif
